<ul class="list-group d-flex">
  <li class="list-group-item">Address: <%= @restaurant.address %></li>
  <li class="list-group-item">Phone number: <%= @restaurant.phone_number %></li>
  <li class="list-group-item">Cuisine: <%= @restaurant.category.capitalize %></li>
</ul>
