<h2>Our Restaurants ✨</h2>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"> <%= restaurant.name %> </li>
    <%= link_to "read more", restaurant, class: "btn btn-gray mb-4 small-font" %>
  <% end %>
</ul>

<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-purple mt-3" %>
